 lightning-card.bgGray article.slds-card{
	background:#F3F2F2;
}
 lightning-card.bgGray article.slds-card{
	background:#F3F2F2;
}
 lightning-card.borderCls article.slds-card{
	margin: 1%;
	border: solid #DDDBDA 1px;
}
 lightning-combobox.genCmbStyle.slds-form-element label.slds-form-element__label{
	 display:none;
	 margin-right: 5%;

}
 lightning-input.general-inp-num.slds-form-element label.slds-form-element__label.slds-no-flex{
	 display:none;

}

lightning-input.cb.slds-form-element div.slds-form-element__control.slds-grow span.slds-checkbox label.slds-checkbox__label span.slds-form-element__label{
	  color:#0070D2;
		
}
